<div class="card mt-4 mt-5 shadow-lg p-3 mb-5 bg-body rounded">
    <h5 class="card-header">- Nosotros -</h5>
    <div class="card-body">
        <h5 class="card-title">¿Quienes somos?</h5>
        <p class="card-text">El equipo de Connected solutions se enfoca en la resolución de problemas presentes en el Centro Universitario de Ciencias Exactas e Ingenierías (CUCEI) por medio de esta plataforma al alcance de usted.</p>
    </div>
</div>
<div class="text-center mt-5">
    <a href="/index.html" class="btn btn-danger">Página principal</a>
</div>