<div class="mt-1"><h1>Acerca de nosotros</h1></div><hr />
<div class="mt-5">
    <div class="pt-7 mb-5">
        <div class="col text-center">
            <h1 class="mb-3 fw-bold fuente f-black text-uppercase">Conectando gente <br /> Creando soluciones</h1>
            <p class="fs-3">Sabemos que las cosas no duran para siempre, cuando algo necesita mantinimiento o es necesario ser reemplazado no podemos esperar a que se hagan solo las cosas.<br /> Aquí es donde nosotros decidimos tomar cartas en el asunto y desarrollar esto que llamamos</p>
            <h1 class="fw-bolder">Connected Solutions</h1>
            <div class="col-8 mx-auto d-block">
                <img class="img-fluid" src="../../assets/Logo/cs_name_900.png" alt="ConnectedSolutionsLogo" />
            </div>
        </div>
    </div>
    <div class="fs-5 text-center col-10 offset-1">
        <p><b class="fs-3">¿Quiénes somos?</b><br />
        Somos un sistema de reportes mediante tickets donde las personas pueden dar a conocer las condiciones inusuales que se presentan todos los días en el centro universitario.</p>
        <p><b class="fs-3">¿Qué es una condición inusual?</b><br />
        Son todas aquellas condiciones que no son normales, frecuentes o usuales, todo aquello fuera de lugar que no cumple con el propósito original para el que fué creado.</p>
        <p><b class="fs-3">¿Qué hacemos nosotros?</b><br />
        El equipo de Connected solutions se enfoca en la resolución de problemas presentes en el Centro Universitario de Ciencias Exactas e Ingenierías (CUCEI) por medio de esta plataforma al alcance de todos.</p>
        <p><b class="fs-3">¿Cómo lo hacemos?</b><br />
        Mediante nuestro sistema de gestión de tickets, la gente puede generar un ticket donde describa el problema encontrado, proporcionando información relevante que nos ayude a conocer con precisión qué es lo que realmente está pasando y nos ayuda a actuar de la mejor manera en consecuencia.
        </p>
    </div>
</div>
<div class="text-center mt-5">
    <a href="/index.html" class="btn btn-danger">Página principal</a>
</div>
