<div class="mt-1"><h1>Contáctanos</h1></div><hr />
<div class="container mt-4">
    <div class="row">
        <div class="col">
            <div class="card mb-3 shadow-lg p-3 mb-5 bg-body rounded">
                <div class="row g-0">
                    <div class="col-md-2">
                        <img width="150" src={{user}} alt="" class="img-fluid rounded-start">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body flotante ">
                            <h5 class="card-title fs-3 fw-bold">César Daniel Alarcón Guerrero</h5>
                            <p class="text-muted">
                                Correo: cesar.alarcon@alumno.udg.mx
                            </p>
                            <p class="card-text">
                            El Ing. César Alarcón está a cargo de la documentación del proyecto con el apoyo del <i class="fw-bolder">Ing. Francisco Hernández</i>, también desempeña el rol de apoyo en el diseño e implementación de bases de datos bajo la supervisión del <i class="fw-bolder">Ing. Kevin Morales</i>.
                        </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3 shadow-lg p-3 mb-5 bg-body rounded">
                <div class="row g-0">
                    <div class="col-md-2">
                        <img width="150" src={{user}} alt="" class="img-fluid rounded-start">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body flotante">
                            <h5 class="card-title fs-3 fw-bold">Francisco Javier Hernández Segura</h5>
                            <p class="text-muted">
                                Correo: francisco.hernandez@alumno.udg.mx
                            </p>
                            <p class="card-text">
                                El Ing. Francisco Hernández es el principal desarrollador Back-End encargado de la lógica y programación de la aplicación, con el apoyo del <i class="fw-bolder">Ing. Kevin Morales</i> en la programación Web Front-End, también desempeña el rol de apoyo en la documentación de la aplicación bajo la supervisión del <i class="fw-bolder">Ing. César Alarcón</i>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3 shadow-lg p-3 mb-5 bg-body rounded">
                <div class="row g-0">
                    <div class="col-md-2">
                        <img width="150" src={{user}} alt="" class="img-fluid rounded-start">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body flotante">
                            <h5 class="card-title fs-3 fw-bold">Kevin Kristop Morales Barranco</h5>
                            <p class="text-muted">
                                Correo: kevin.barranco@alumno.udg.mx
                            </p>
                            <p class="card-text">
                                El Ing. Kevin Morales es el encargado del diseño e implementación de bases de datos, con el apoyo del <i class="fw-bolder">Ing. César Alarcón</i>, también desempeña el rol de apoyo en la programación Web Front-End.
                                Encargado de la conexión de las bases de datos con la aplicación.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center mt-5">
        <a href="/index.html" class="btn btn-danger">Página principal</a>
    </div>
</div>
