<h1>Tickets</h1>
<p>Tickets abiertos</p>
<hr />
<div class="container">
    <div class="row">
        <h4>Seleccione una fecha de inicio y una final para filtrar los resultados</h4>
    </div>
    <div class="row">
        <div class="form-group col-md-5">
            <label class="form-label col-sm-5 col-lg-2 fw-bolder">Desde</label>
            <input type="datetime-local" id="startdate" name="startdate"> 
        </div>
        <div class="form-group col-sm-5">
            <label class="form-label col-sm-5 col-lg-2 fw-bolder">Hasta</label>
            <input type="datetime-local" id="enddate" name="enddate"> 
        </div>
        <div class="col-lg-1 col-1">
            <input type="submit" class="btn btn-danger" value="Filter"/>
        </div>
    </div>
</div>
<hr />
<table *ngIf="_ticketList" class="table table-hover table-borderless">
    <thead>
        <tr>
            <th>Fecha de creación</th>
            <th>Requisitor</th>
            <th>Ubicación</th>
            <th>Categoría</th>
            <th>Comentarios</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let T of _ticketList">
            <td>{{T.datetime | date:'medium'}}</td>
            <td>{{T.username}}</td>
            <td>{{T.location}}</td>
            <td>{{T.category}}</td>
            <td>{{T.description}}</td>
        </tr>
    </tbody>
</table>
<hr />
<div class="mb-4 text-center">
    <div class="btn-group">
        <a type="button" class="btn btn-secondary" routerLink="/Crear-ticket" >Crear Ticket</a>
        <a type="button" class="btn btn-danger" href="/index.html">Regresar al inicio</a>
    </div>
</div>