<h2>Tickets</h2>
<p>Tickets abiertos</p>
<hr />
<div class="container">
    <form action="/dashboard.html" method="GET">
        <div class="row">
            <h4>Seleccione una fecha de inicio y una final para filtrar los resultados</h4>
        </div>
        <div class="row">
            <div class="form-group col-md-5">
                <label class="form-label col-sm-5 col-lg-2">Desde</label>
                <input type="datetime-local" id="startdate" name="startdate"> 
            </div>
            <div class="form-group col-sm-5">
                <label class="form-label col-sm-5 col-lg-2">Hasta</label>
                <input type="datetime-local" id="enddate" name="startdate"> 
            </div>
            <div class="col-lg-1 col-1">
                <input type="submit" class="btn btn-danger" value="Filter"/>
            </div>
        </div>
    </form>
</div>
<hr />
<table *ngIf="_ticketList" class="table table-hover table-borderless">
    <thead>
        <tr>
            <th>Fecha de creación</th>
            <th>Requisitor</th>
            <th>Ubicación</th>
            <th>Comentarios</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let T of _ticketList">
            <td>
                {{T.username}}
            </td>
        </tr>
    </tbody>
</table>
