<div class="jumbotron mb-4">
    <h1 class="fw-bold">Connected Solutions</h1>
    <p class="fs-3">Sistema integral de reportes.</p>
</div>
<div class="col">
    <div class="row d-flex justify-content-evenly fs-2 fw-bolder">
        <div routerLink="/Crear-ticket" class="tarjeta p-3 col-5">
            Crear Ticket
        </div>
        <div routerLink="/Tickets" class="tarjeta p-3 col-5">
            Ver Tickets
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <img class="img-fluid" src="../../assets/Logo/cs_person.png" alt="Connected Solutions" />
    </div>
</div>


